body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: salmon

}

.page-name  {
    border-bottom: 1px  solid black;
}

.pac {
    text-align: center;

}

.pac-desc {
    border-bottom: 1px solid black;
    text-align: center;
}

.busimg {
    margin-top: 10px;
    text-align: center;
}

.bus-desc {
    border-bottom: 1px  solid black;
    text-align: center;
}

.eye {
    text-align: center;
}

.eyeimg {
    margin-top: 10px;
    text-align: center;
}

.eye-desc {
    border-bottom: 1px solid black;
    text-align: center;
}
